@page
@model ShiftPlanningUI.Pages.Users.IndexModel
@{

}

@for (int i = 0; i < Model.Users.Count; i++) {
    Model.Email = Model.Users[i].Email;
    <div class="card">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <p>Email: @Model.Email</p>
                    @if (@Model.Users[i].IsAdmin) {
                        <p>Is Admin</p>
                    } else {
                        <p>Is not admin</p>
                    }
                </div>
                <div class="col-2" style="position: relative; height: auto">
                    <form method="post" asp-page-handler="Delete">
                        @{ Model.Email = Model.Users[i].Email; }
                        <input type="hidden" asp-for="@Model.Email" /> <!--ensure that Email is in scope-->
                        <input type="submit" value="Delete user" class="btn btn-primary" style="position: absolute; right: 0; bottom: 0;" />
                    </form>
                </div>
                @if (!Model.Users[i].IsAdmin) {
                    <div class="col-2" style="position: relative; height: auto">
                        <form method="post" asp-page-handler="MakeAdmin">
                            @{
                                Model.Email = Model.Users[i].Email;
                            }
                            <input type="hidden" asp-for="@Model.Email" /> <!--ensure that Email is in scope-->
                            <input type="submit" value="Make admin" class="btn btn-primary" style="position: absolute; right: 0; bottom: 0;" />
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
}